.cardAbout
{
    width: 330px;
    height: 300px;
    border: 1px solid #5E5E5E5E;
    border-radius: 14px;
    padding: 20px;
}
.section2
{
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}